<!DOCTYPE html>
<html>
<head>
	<title>Favorites Organizer powered by Cloudant Francesca!!</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<link rel="stylesheet" href="/style/style.css" />
</head>
<body>
	<div class = "container">
	<div class = "banner">
		<img class="newappIcon" src="images/newapp-icon.png">
		<p class = "appTitle">
			Favorites Organizer powered by Cloudant Funziona!!!!!! ... forse...
		</p>
	</div>
	<script type="text/javascript" src="/scripts/util.js"></script>
	<script type="text/javascript" src="/scripts/index.js"></script>
	<div id="myImage"><div id="innerImg"></div></div>
	<br><br><br>
	</div>
	<!-- Save for Web Slices (inizio_sito.psd) -->
	<div>
	<table id="Tabella_01" width="1366" height="768" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td colspan="7">
			<img src="immagini/inizio_sito_01a.gif" width="1366" height="205" alt=""></td>
	</tr>
	<tr>
		<td rowspan="2">
			<img src="immagini/inizio_sito_02.gif" width="135" height="563" alt=""></td>
		<td>
			<a href="/views/pagina1_sito.html"><img src="immagini/inizio_sito_03.gif" width="329" height="337" alt="PREFERENZE"></a></td>
		<td rowspan="2">
			<img src="immagini/inizio_sito_04.gif" width="52" height="563" alt=""></td>
		<td>
			<a href="/views/prova.html"><img src="immagini/inizio_sito_05.gif" width="333" height="337" alt="PARLO AL MONDO"></a></td>
		<td rowspan="2">
			<img src="immagini/inizio_sito_06.gif" width="48" height="563" alt=""></td>
		<td>
			<a href="/views/prova.html"><img src="immagini/inizio_sito_07.png" width="333" height="337" alt="IL MONDO MI PARLA"></a></td>
		<td rowspan="2">
			<img src="immagini/inizio_sito_08.gif" width="136" height="563" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="immagini/inizio_sito_09.gif" width="329" height="226" alt=""></td>
		<td>
			<img src="immagini/inizio_sito_10.gif" width="333" height="226" alt=""></td>
		<td>
			<img src="immagini/inizio_sito_11a.gif" width="333" height="226" alt=""></td>
	</tr>
</table>
</div>
<!-- End Save for Web Slices -->
</body>
</html>
