<html>
<head>
<title>pagine_sito</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!-- Save for Web Slices (pagine_sito.psd) -->
<table id="Tabella_01" width="1366" height="768" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td colspan="5">
			<img src="immagini/pagina4_sito_01.png" width="1366" height="75" alt=""></td>
	</tr>
	<tr>
		<td rowspan="3">
			<img src="immagini/pagina4_sito_02.png" width="68" height="693" alt=""></td>
		<td rowspan="2">
			<a href="prova.html"><img src="immagini/pagina4_sito_03.png" width="679" height="455" alt=""></a></td>
		<td colspan="3">
			<img src="immagini/pagina4_sito_04.png" width="619" height="224" alt=""></td>
	</tr>
	<tr>
		<td rowspan="2">
			<img src="immagini/pagina4_sito_05.png" width="184" height="469" alt=""></td>
		<td>
			<a href="prova.html"><img src="immagini/pagina4_sito_06.png" width="266" height="231" alt=""></a></td>
		<td rowspan="2">
			<img src="immagini/pagina4_sito_07.png" width="169" height="469" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="immagini/pagina4_sito_08.png" width="679" height="238" alt=""></td>
		<td>
			<img src="immagini/pagina4_sito_09.png" width="266" height="238" alt=""></td>
	</tr>
</table>
<!-- End Save for Web Slices -->
</body>
</html>