<html>
<head>
<title>pagine_sito</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!-- Save for Web Slices (pagine_sito.psd) -->
<table id="Tabella_01" width="1366" height="768" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td colspan="9">
			<img src="immagini/pagin1_sito_01.png" width="1366" height="124" alt=""></td>
	</tr>
	<tr>
		<td rowspan="2">
			<img src="immagini/pagin1_sito_02.png" width="136" height="644" alt=""></td>
		<td>
			<a href="prova.html"><img src="immagini/pagin1_sito_03.png" width="244" height="149" alt=""></a></td>
		<td rowspan="2">
			<img src="immagini/pagin1_sito_04.png" width="39" height="644" alt=""></td>
		<td>
			<a href="prova.html"><img src="immagini/pagin1_sito_05.png" width="244" height="149" alt=""></a></td>
		<td rowspan="2">
			<img src="immagini/pagin1_sito_06.png" width="37" height="644" alt=""></td>
		<td>
			<a href="prova.html"><img src="immagini/pagin1_sito_07.png" width="244" height="149" alt=""></a></td>
		<td rowspan="2">
			<img src="immagini/pagin1_sito_08.png" width="38" height="644" alt=""></td>
		<td>
			<a href="prova.html"><img src="immagini/pagin1_sito_09.png" width="244" height="149" alt=""></a></td>
		<td rowspan="2">
			<img src="immagini/pagin1_sito_10.png" width="140" height="644" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="immagini/pagin1_sito_11.png" width="244" height="495" alt=""></td>
		<td>
			<img src="immagini/pagin1_sito_12.png" width="244" height="495" alt=""></td>
		<td>
			<img src="immagini/pagin1_sito_13.png" width="244" height="495" alt=""></td>
		<td>
			<img src="immagini/pagin1_sito_14.png" width="244" height="495" alt=""></td>
	</tr>
</table>
<!-- End Save for Web Slices -->
</body>
</html>